{# Renders field for bootstrap 3 standards.
From: https://gist.github.com/bearz/7394681
Params:
field - WTForm field
kwargs - pass any arguments you want in order to put them into the html attributes.
There are few exceptions: for - for_, class - class_, class__ - class_

Example usage:
{{ macros.render_field(form.email, placeholder='Input email', type='email') }}
#}

{% macro render_field(field, label_visible=true) -%}
<div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    {% if (field.type != 'HiddenField' and field.type !='CSRFTokenField') and label_visible %}
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {% endif %}

    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
    {% for e in field.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}
</div>
{%- endmacro %}


{# Better rendering for checkboxes #}
{% macro render_checkbox(field) %}
  <div class="form-check">
    {{ field(class_='form-check-input', **kwargs) }}
    <label class="form-check-label" for="{{field.id}}">
      {{field.label}}
    </label>
    {% if field.errors %}
    {% for e in field.errors %}
    <p class="help-block">{{ e }}</p>
    {% endfor %}
    {% endif %}    
  </div>  
{% endmacro %}

{# Renders a header with info on patient. useful for card headers #}

{% macro patient_header(patient) -%}
<h4>
    {% if patient.sex == 'Male' %}
    Mr.
    {% elif patient.sex == 'Female' %}
    Ms.
    {% endif %}
    {{patient.name}} /
    {{patient.age() }} /
    {{patient.sex}}
</h4>
{%- endmacro %}


{# render as span with label and value #}
{% macro value_badge(label, value) -%}

{% if value != None and value != '' %}
<span class="badge badge-primary">
    {{label}}
</span>: {{value}}
{% else %}
<span class="badge badge-danger">
    {{label}}
</span>: <span class="text-danger">Not entered</span>
{% endif %}
<br/>
{%- endmacro %}


{# boolean variables with accompanying onset time. eg. DM since 1989 #}
{% macro bool_onset(label, variable, onset=None) %}

  {% if variable == None %}
    {{ label }}: <span class="text-danger">Not entered</span>
  {% elif variable == True %}
    <span class='badge badge-success'>{{ label }}:</span>
    {% if onset != None %}
      {{ onset.strftime('%b %Y') }}
    {% else %}
      Yes
    {% endif %}
  {% else %}
    <s>{{ label }}</s>
  {% endif %}
{% endmacro %}
