{% extends 'layouts/base.html' %}


{% block content %}

<!-- Jumbotron for banner -->
<div class="jumbotron bg-light mb-0 radius-0">
    <div class="container">
	<h1 class="display-4">{{config.CENTER_CLINIC_NAME}}</h1>
	<span class="lead">{{config.CENTER_HOSPITAL_NAME}}</span>
    </div>
</div>

<!-- Row with two columns for main utilities -->
<div class="container-fluid">
    <div class="mt-4 row">

	<!-- Patient utilities -->
	<div class="col-sm-12 col-md-5">
	    <div class="card">
		<div class="card-body">
		    <h4 class="card-title">Patients</h4>
		    <p>{{n_patients}} patients registered</p>
		    <a href="{{url_for('find_patient')}}" class="btn btn-primary">Find Patient</a>
		    <a href="{{url_for('list_patients')}}" class="btn btn-primary">List Patients</a>		    
		    <a href="{{url_for('add_patient')}}" class="btn btn-primary">New Patient</a>
		</div>
	    </div>	
	</div>

	<!-- General utilities -->
	<div class="col-sm-12 col-md-5">
	    <div class="card">
		<div class="card-body">
		    <h4 class="card-title">Utilities</h4>
		    <a href="#!" class="btn btn-primary">Documents</a>
		    <a href="#!" class="btn btn-primary">Statistics</a>
		</div>
	    </div>	
	</div>

	<!-- User -->
	<div class="col-sm-12 col-md-2">
	    <div class="card">
		<div class="card-body">
		    <h4 class="card-title">User
			{% if current_user.is_authenticated %}
			: {{current_user.name}}
			{% endif %}
		    </h4>

		    {% if current_user.is_authenticated %}		    
		    <a href="/logout" class="btn btn-primary">Logout</a>
		    {% else %}
		    <a href="/login" class="btn btn-primary">Login</a>
		    {% endif %}

		    {% if current_user.has_role('admin') %}
		    <a href="/admin" class="btn btn-primary">Admin</a>
		    {% endif %}
		    
		</div>
	    </div>	
	</div>
    
</div>
</div>

{% endblock %}


   
