{% extends 'layouts/form_base.html' %}

{% from 'macros.html' import render_field, render_checkbox %}

{% block form %}

<div class="card card-outline-secondary">
    
    <div class="card-header">
        <h3 class="mb-0">Clinic Assessment</h3>
    </div>

    <div class="card-body">	

	<form method="POST" class="form" role="form"
	      action="{{url_for('add_clinic_assessment', id=patient.id )}}"
	>
	    
	    {{ form.hidden_tag() }}

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.assessment_date, type="date")}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.pulse_rate)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.systolic_bp)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.diastolic_bp)}}
		</div>		

	    </div>

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.jugular_venous_pressure)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.weight)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.nyha_class)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.six_min_walk)}}
		</div>		

	    </div>	    


	    <div class="row">
		<div class="col-md-12">
		    {{render_field(form.comments)}}
		</div>
	    </div>
	    
	    
	    <div class="form-group mt-4">
		<a href="{{url_for('view_patient', id=patient.id )}}" class="btn btn-success btn-lg">Cancel and return</a>	
                <button type="submit" class="btn btn-success btn-lg float-right">Submit changes</button>
            </div>
	    
	</form>
	
</div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}

<script>
 /* Activate chosen widget */
 $(".chosen").chosen()
</script>

{% endblock %}



