{% extends 'layouts/form_base.html' %}

{% from 'macros.html' import render_field, render_checkbox %}

{% block form %}

<div class="card card-outline-secondary">
    
    <div class="card-header">
        <h3 class="mb-0">Counseling</h3>
    </div>

    <div class="card-body">	

	<form method="POST" class="form" role="form"
	      action="{{url_for('add_counseling_session', id=patient.id )}}"
	>
	    
	    {{ form.hidden_tag() }}

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.counseling_date, type="date")}}
		</div>

	    </div>

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.lifestyle_counseling_done)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.diet_counseling_done)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.weight_counseling_done)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.medications_counseling_done)}}
		</div>				

	    </div>

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.lifestyle_counseling_compliance)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.diet_counseling_compliance)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.weight_counseling_compliance)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.medications_counseling_compliance)}}
		</div>				

	    </div>	    

	    <div class="row">
		<div class="col-md-12">
		    {{render_field(form.comments)}}
		</div>
	    </div>
	    
	    
	    <div class="form-group mt-4">
		<a href="{{url_for('view_patient', id=patient.id )}}" class="btn btn-success btn-lg">Cancel and return</a>	
                <button type="submit" class="btn btn-success btn-lg float-right">Submit</button>
            </div>
	    
	</form>
	
</div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}

<script>
 /* Activate chosen widget */
 $(".chosen").chosen()
</script>

{% endblock %}



