{% extends 'layouts/form_base.html' %}

{% from 'macros.html' import render_field, render_checkbox %}

{% block form %}

<div class="card card-outline-secondary">
    
    <div class="card-header">
        <h3 class="mb-0">Echo Assessment</h3>
    </div>

    <div class="card-body">	

	<form method="POST" class="form" role="form"
	      action="{{url_for('add_echo_assessment', id=patient.id )}}"
	>
	    
	    {{ form.hidden_tag() }}

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.echo_date, type="date")}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.lvef)}}
		</div>

		
	    </div> <!-- first row -->

	    <div class="row">
		<div class="col-md-3">
		    {{render_field(form.ivsd)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.pwd)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.lvedd)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.lvesd)}}
		</div>		

	    </div> <!-- second row -->

	    <div class="row">
		
		<div class="col-md-3">
		    {{render_field(form.ar)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.mr)}}
		</div>

		<div class="col-md-3">
		    {{render_field(form.tr)}}
		</div>

	    </div>	    


	    <div class="row">
		<div class="col-md-3">
		    {{render_field(form.a_gdt)}}
		</div>
		<div class="col-md-3">
		    {{render_field(form.rvsp)}}
		</div>		
	    </div>
	    

	    <div class="row">
		<div class="col-md-12">
		    {{render_field(form.comments)}}
		</div>
	    </div>
	    
	    
	    <div class="form-group mt-4">
		<a href="{{url_for('view_patient', id=patient.id )}}" class="btn btn-success btn-lg">Cancel and return</a>	
                <button type="submit" class="btn btn-success btn-lg float-right">Submit changes</button>
            </div>
	    
	</form>
	
</div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}

<script>
 /* Activate chosen widget */
 $(".chosen").chosen()
</script>

{% endblock %}



