{% extends 'layouts/form_base.html' %}

{% from 'macros.html' import render_field, render_checkbox %}

{% block form %}

<div class="card card-outline-secondary">
    
    <div class="card-header">
        <h3 class="mb-0">Patient medical details</h3>
    </div>

    <div class="card-body">	

	<form method="POST" class="form" role="form"
	      action="{{url_for('edit_patient_medical', id=patient.id )}}"
	>
	    
	    {{ form.hidden_tag() }}

	    <div class="row">
		
		<div class="col-md-4 offset-md-2">
		    {{render_checkbox(form.diabetes)}}
		</div>
		
		<div class="col-md-6">
		    {{render_field(form.diabetes_diagnosis, label_visible=false, placeholder='Date of Diagnosis')}}
		</div>
		
	    </div>

	    <div class="row mt-2">
		<div class="col-md-4 offset-md-2">
		    {{render_checkbox(form.hypertension)}}
		</div>

		<div class="col-md-6">
		    {{render_field(form.hypertension_diagnosis, label_visible=false, placeholder='Date of Diagnosis')}}
		</div>	    
	    </div>
	    

	    <div class="row mt-2">
		
		<div class="col-md-4 offset-md-2">
		    {{render_checkbox(form.previous_mi)}}
		</div>
		
		<div class="col-md-6">
		    {{render_field(form.prev_mi_date, label_visible=false, placeholder='Date of MI')}}
		</div>
		
	    </div>

	    
	    <div class="row mt-2">
		<div class="col-md-4 offset-md-2">
		    {{render_checkbox(form.previous_revascularization)}}
		</div>
		<div class="col-md-4">
		    {{render_checkbox(form.previous_cva)}}
		</div>
	    </div>	    

	    
	    <div class="row mt-4">
		<div class="col-md-4 offset-md-2">
		    {{render_field(form.heart_failure_date, label_visible=false, placeholder='Time of CHF diagnosis')}}
		</div>
	    </div>

	    <div class="row mt-4">
		<div class="col-md-4 offset-md-2">
		    {{render_field(form.allergies)}}
		</div>
		<div class="col-md-4">		
		    {{render_field(form.medical_history_comments)}}
		</div>
	    </div>

	    <div class="row mt-4">
		<div class="col-md-4 offset-md-2">
		    {{render_field(form.rhythm, class="select")}}
		</div>
		<div class="col-md-4">
		    {{render_field(form.qrs_morphology, class="select")}}
		</div>
	    </div>

	    <div class="row mt-4">	    
		<div class="col-md-4 offset-md-2">
		    {{render_field(form.qrs_duration)}}
		</div>
		<div class="col-md-4">
		    {{render_field(form.height)}}
		</div>		
	    </div>
	    
	    
	    <div class="form-group mt-4">
		<a href="{{url_for('home')}}" class="btn btn-success btn-lg">Cancel and return</a>		
                <button type="submit" class="btn btn-success btn-lg float-right">Submit changes</button>
            </div>
	    
	</form>
	
</div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}

<script>
 $("#diabetes_diagnosis").datepicker( {
     format: "mm-yyyy",
     viewMode: "months", 
     minViewMode: "months"
 });

 $("#hypertension_diagnosis").datepicker( {
     format: "mm-yyyy",
     viewMode: "months", 
     minViewMode: "months"
 });

 $("#heart_failure_date").datepicker( {
     format: "mm-yyyy",
     viewMode: "months", 
     minViewMode: "months"
 }); 

 $("#prev_mi_date").datepicker( {
     format: "mm-yyyy",
     viewMode: "months", 
     minViewMode: "months"
 }); 
 
</script>


<script>

 /* Functions to toggle enable / disable of date entry according to checkbox */
 function toggle_diabetes() {
     if($("#diabetes").prop('checked')) {
	 $("#diabetes_diagnosis").prop('disabled', false);
     }
     else {
	 $("#diabetes_diagnosis").prop('disabled', true);
     }
 }

 function toggle_hypertension() {
     if($("#hypertension").prop('checked')) {
	 $("#hypertension_diagnosis").prop('disabled', false);
     }
     else {
	 $("#hypertension_diagnosis").prop('disabled', true);
     }
 }
 
 function toggle_prev_mi() {
     if($("#previous_mi").prop('checked')) {
	 $("#prev_mi_date").prop('disabled', false);
     }
     else {
	 $("#prev_mi_date").prop('disabled', true);
     }
 }

 /* check state and toggle - at document ready and on change */

 $(document).ready(function() {
     toggle_diabetes();
     toggle_hypertension();
     toggle_prev_mi();
 })

 $('#diabetes').change(toggle_diabetes);
 $('#hypertension').change(toggle_hypertension);
 $('#previous_mi').change(toggle_prev_mi);
  
</script>


<script>
 /* Activate chosen widget */
 $(".chosen").chosen()
</script>

{% endblock %}
