{% extends 'layouts/form_base.html' %}

{% from 'macros.html' import render_field %}

{% block form %}

<div class="card card-outline-secondary">
    
    <div class="card-header">
        <h3 class="mb-0">Patient details</h3>
    </div>

    <div class="card-body">	

	<form method="POST" class="form" role="form"
	      {% if action == "add" %}
	      action="{{ url_for('add_patient')}}"
	      {% elif action == "edit" %}
	      action="{{url_for('edit_patient', id=patient.id )}}"
	      {% endif %}
	>
	    
	    {{ form.hidden_tag() }}

	    <div class="row">
		<div class="col-md-6">
		    {{ render_field(form.name,
		    placeholder="eg. Anand",
		    ) }}
		</div>
	    
		<div class="col-md-3">
		    {{ render_field(form.sex) }}
		</div>

		<div class="col-md-3">
		    {{ render_field(form.patient_id) }}
		</div>
		
	    </div>

	    <div class="row">
		<div class="col-md-3">
		    {{ render_field(form.age,
		    placeholder="valid entries -  9, 9Y, 9Y3M, 3M3D",
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.birth_date,
		    type="date") }}
		</div>		
		<div class="col-md-3">
		    {{ render_field(form.education,
		    class="form-control chosen"
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.per_capita_income,
		    ) }}		    
		</div>
	    </div>

	    <div class="row">
		<div class="col-md-3">
		    {{ render_field(form.contact_number,
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.contact_number2,
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.email,
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.preferred_language,
		    class="form-control chosen"
		    ) }}		    
		</div>	
		
	    </div>

	    <div class="row">
		<div class="col-md-6">
		    {{ render_field(form.address,
		    widget=textarea,
		    ) }}		    
		</div>
		<div class="col-md-3">
		    {{ render_field(form.pincode,
		    ) }}		    
		</div>		
	    </div>	    



	    
	    <div class="form-group">
		<a href="{{url_for('home')}}" class="btn btn-success btn-lg">Cancel and return</a>		
                <button type="submit" class="btn btn-success btn-lg float-right">Submit and add patient</button>
            </div>
	    
	</form>
	
    </div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}

<!-- Set date of birth based on age -->
<script>

 /* Using moment */
 function getAgeFromDOB(datestring) {
     var now = moment();
     var dob = moment(datestring);
     var age = moment.duration(now.diff(dob));
     return age.years() + 'Y' + age.months() + 'M' + age.days() + 'D';
 }

 /* Give age in ISO string format */
 function getDOBFromAge(agestring) {
     var age = moment.duration(agestring);
     var dob = moment().subtract(age);
     return dob.format("YYYY-MM-DD");
 }


 /* Format entered age string correctly */
 function formatAge(agestring) {
     /* remove spaces */
     var age = agestring.replace(/ /g,'');
     /* add y at end if only number */
     if ($.isNumeric(age)) {
	 age = age + "Y"
     }
     /* Add p at beginning */
     age = "P" + age;
     /* capitalize everything */
     age = age.toUpperCase();
     
     return age;
 }


 /* TODO: */
 /* on document loading, if dob is filled, fill in age */
 /* needed for edit */
 
 $(document).ready(function () {
     $('#age').blur(function() {
	 var age = $(this).val();
	 age = formatAge(age);
	 console.log(age);
	 var dob = getDOBFromAge(age);
	 $("#birth_date").val(dob);
     }); 
 }); 


 $(document).ready(function () {
     $("#birth_date").blur(function () {
	 var dob = $(this).val();
	 var age = getAgeFromDOB(dob);
	 $("#age").val(age);
     });
 });


</script>


<script>
 /* Activate chosen widget */
 $(".chosen").chosen()
</script>

{% endblock %}
