
{% extends 'layouts/base.html' %}

{% from 'macros.html' import render_field %}

{% block content %}

<div class="container-fluid">

    <div class="mt-4 row">
    <div class="col-md-4 offset-md-4 mt-4">
	<div class="card mt-4">
	    <div class="card-body">
		<h4 class="card-title">Login</h4>

		<div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
		    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
			{{ login_user_form.hidden_tag() }}
			{{ render_field(login_user_form.email) }}
			{{ render_field(login_user_form.password) }}

			<button type="submit" class="btn btn-primary">Submit</button>
			
		    </form>
		</div>
	    </div>
	    </div>
	</div>
    </div>
</div>

{% endblock %}
