<!-- Template to use for all pages. Has a banner at top for nav links -->


{% extends 'layouts/base.html' %}

{% block nav %}

    <div class="container">


	<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	    <a class="navbar-brand" href="{{url_for('home')}}">{{config['CENTER_CLINIC_NAME']}}</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	    </button>

	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		    <li class="nav-item active">
			<a class="nav-link" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
		    </li>
		</ul>

		<ul class="navbar-nav">
		    <li class="nav-item">
			{% if current_user.is_authenticated %}			
			<a class="nav-link" href="/logout">{{current_user.name}} - Logout</a>
			{% else %}
			<a class="nav-link" href="/login">Login</a>
			{% endif %}
		    </li>
		</ul>
		
		
	    </div>
	</nav>
	
    </div>

{% endblock %}


