<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Heart Failure Clinic</title>
        <meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	

        <!-- <link rel="manifest" href="site.webmanifest">
             <link rel="apple-touch-icon" href="icon.png"> -->
        <!-- Place favicon.ico in the root directory -->

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->

	
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">
	<!-- Using good news from hacker themes - https://hackerthemes.com/bootstrap-themes/good-news/ -->
	<link rel="stylesheet" href="/static/css/bootstrap4-good-news.min.css">

	<!-- Open iconic fonts -->
	<link href="/static/css/open-iconic-bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="/static/css/chosen.min.css">	

	<link rel="stylesheet" href="/static/css/bootstrap-datepicker3.min.css">		
	
        <link rel="stylesheet" href="/static/css/normalize.css">

	<link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/custom.css">	

	<!-- If additional content needs to be added to head in other pages --> 
	{% block extrahead %}
	{% endblock %}
	
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->

	<!-- Flashed messages -->
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}

	{% for category, message in messages %}
	<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
	    <p>{{ message }}</p>
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	    </button>
	</div>
	{% endfor %}
	{% endif %}
	
	{% endwith %}

	{% block nav %}
	{% endblock %}
	

	{% block content %}
	{% endblock %}
	
        <script src="/static/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>

	<!-- Bootstrap with popper which is a dependency -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<!-- Moment js -->
	<script type="text/javascript" src="/static/js/vendor/moment-2.22.2.min.js"></script>

	<!-- chosen for select widget -->
	<script type="text/javascript" src="/static/js/vendor/chosen.jquery.min.js"></script>

	<!-- bootstrap-datepicker, needed for picking month -->
	<script type="text/javascript" src="/static/js/vendor/bootstrap-datepicker.min.js"></script>

	<!-- Charting -->
	<script type="text/javascript" src="/static/js/vendor/Chart.min.js"></script>
	
	<script src="/static/js/plugins.js"></script>
        <script src="/static/js/main.js"></script>

	{% block extrascript %}
	{% endblock %}
	
        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!-- <script>
             window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
             ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
             </script> -->
        <!-- <script src="https://www.google-analytics.com/analytics.js" async defer></script> -->
    </body>
</html>
