{% extends 'layouts/base_with_top_bar.html' %}

{% from 'macros.html' import render_field %}

{% block content %}

<div class="container-fluid mt-5">

    <div class="col-md-8 offset-md-2"> 
	
	{% block form %}
	{% endblock %}

    </div>
</div>

{% endblock %}

{% block extrascript %}
{{ super() }}
{% endblock %}
