{% extends 'layouts/base_with_top_bar.html' %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="mt-4 row">

	<div class="col-md-8 offset-md-2">
	    <div class="card">
		<div class="card-header">
		    <label class="sr-only" for="search">Search for patient</label>
		    <input type="text" class="form-control" id="search" placeholder="Enter part of name / hosp no  / phone no to search for patient">
		</div>
		<div class="card-body" id="result-list">
		    
		</div>
	    </div>
	</div>
	
    </div>
</div>


{% endblock %}

{% block extrascript %}

<!-- Collect search string, send to back end, get results list and populate -->
<script>
 $(document).ready(function() {
     $("#search").on('input', function() {
	 var entry = $(this).val();
	 if (entry.length > 3) {
	     $.ajax({
		 type: "POST",
		 url: "{{url_for('find_patient_from_search_str')}}",
		 data: JSON.stringify({'search_string': entry}, null, '\t'),
		 contentType: 'application/json;charset=UTF-8',
		 success: function(response) {
		     $('#result-list').html(response);
		 },
		 error: function(response) {
		     console.log(response);
		 }
	     });	     
	 }
     });
 });

</script>
    
{% endblock %}
