{% extends 'layouts/base_with_top_bar.html' %}


{% block extrahead %}

<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}


{% block content %}

<div class="container-fluid mt-5">
    <div class="mt-4 row">

	<div class="col-md-8 offset-md-2">
	    <div class="card">
		<div class="card-header">
		</div>
		<div class="card-body">

		    <table id="patients" class="table table-striped table-bordered" style="width:100%">

			<thead>
			    <tr>
				<th>Name</th>
				<th>Age</th>
				<th>Sex</th>
				<th>ID</th>
				<th>Phone No</th>
			    </tr>
			</thead>
			
			<tbody>
			    {% for pt in patients %}
			    <tr>
				<td>
				    <a href="{{url_for('view_patient', id=pt.id )}}">{{pt.name}}</a>
				</td>
				<td>{{pt.age()}}</td>
				<td>{{pt.sex}}</td>
				<td>{{pt.patient_id}}</td>
				<td>{{pt.contact_number}}</td>
			    </tr>
			    {% endfor %}
			</tbody>			
			
		    </table>
		    
		</div>
	    </div>
	</div>
	
    </div>
</div>


{% endblock %}

{% block extrascript %}

<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script>
 $(document).ready(function() {
     $('#patients').DataTable();
 } );		    
</script>
    
{% endblock %}
