{% extends 'layouts/base_with_top_bar.html' %}
{% from 'macros.html' import patient_header, value_badge, bool_onset %}

<!-- Scores for each compliance item, numerator and denominator -->
{% set scores = {'NA': (0, 0), 'Poor': (0, 2), 'Good': (1, 2), 'Very good': (2, 2)} %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="mt-4 row">

	<!-- left upper column - patient demographic and contact details -->
	<div class="col-md-4 offset-md-1">
	    <div class="card border-primary mb-3">

		<div class="card-header">
		    <a href="{{url_for('edit_patient', id=patient.id )}}"
		       class="btn btn-primary" style="float:right;">Edit</a>

		    {{ patient_header(patient) }}
		    Patient details
		    
		</div>

		<div class="card-body" id="result-list">
		    <span class="badge badge-primary">Phone</span>: {{patient.contact_number}}
		    {% if patient.contact_number2 %}
		    / {{patient.contact_number2}}
		    {% endif %}
		    <br/>

		    {{ value_badge('Email', patient.email) }}
		    {{ value_badge('Address', patient.address) }}
		    {{ value_badge('Pincode', patient.pincode )}}
		    {{ value_badge('Education', patient.education )}}
		    {{ value_badge('Income', patient.per_capita_income) }}

		    <form class="icon" method="POST"
			  action="{{url_for('delete_patient', id=patient.id)}}">
			<button class="btn btn-default" style="float:right;"
				       onclick="return confirm('Are you sure you want to delete this patient? You will lose all related data.')"
				       title="Delete">	    
			    <span class="oi oi-trash">
			    </span>
			</button>
		    </form>
		    
		</div>
	    </div>
	</div>

	<!-- right upper - patient past medical history -->
	<div class="col-md-4 offset-md-1">
	    <div class="card border-primary mb-3">

		<div class="card-header">
		    <a href="{{url_for('edit_patient_medical', id=patient.id )}}"
		       class="btn btn-primary" style="float:right;">Edit</a>
		    
		    {{ patient_header(patient) }}
		    Medical history

		</div>
		
		<div class="card-body" id="result-list">
		    {{ bool_onset('Diabetes', patient.diabetes, patient.diabetes_diagnosis) }} / 
		    {{ bool_onset('Hypertension', patient.hypertension, patient.hypertension_diagnosis )}}
		    <br/>
		    {{ bool_onset('Renal insuff', patient.renal_insufficiency) }} / 
		    {{ bool_onset('Prev MI', patient.previous_mi, patient.prev_mi_date ) }}
		    <br/>
		    {{ bool_onset('Prev revasc', patient.previous_revascularization) }} /
		    {{ bool_onset('Prev CVA', patient.previous_cva) }}
		    <br/>
		    {% if patient.heart_failure_date %}
		    Heart failure diagnosed: {{ patient.heart_failure_date }}<br/>
		    {% endif %}
		    
		    {% if patient.medical_history_comments %}
		    {{ patient.medical_history_comments }}<br/>
		    {% endif %}
		    
		    {{ value_badge('Rhythm', patient.rhythm) }}
		    {{ value_badge('QRS morphology', patient.qrs_morphology) }}
		    {{ value_badge('QRS duration (ms)', patient.qrs_duration) }}
		    {{ value_badge('Allergies', patient.allergies) }}
		    {{ value_badge('Height (cm)', patient.height) }}

		</div>
	    </div>
	</div>
	
    </div>  <!-- row -->


    <!-- Vitals graph -->
    <div class="row">
	<div class="col-md-9 offset-md-1">
	    <div class="card border-primary mb-3">

		<div class="card-header">
		    <button class="btn btn-primary" data-toggle="collapse" data-target="#vitals_graph_body">
			Show / Hide Vitals - {{ca_dict['pulse_rate'] | length }} values
		    </button>

		    {% if ca_dict['pulse_rate'] | length > 0 %}
		    <a href="{{url_for('delete_last_clinic_assessment', id=patient.id )}}"
		       class="btn btn-primary">Delete last clinic assessment</a>
		    {% endif %}
		    
		    <a href="{{url_for('add_clinic_assessment', id=patient.id )}}"
		       class="btn btn-primary" style="float:right;">Add clinic assessment</a>
		</div>

		<div class="collapse" id="vitals_graph_body">
		<div class="card-body">
		    <canvas id="vitals_graph_pw" width="600" height="100"> </canvas>
		    <canvas id="vitals_graph_bp" width="600" height="100"> </canvas>		    
		</div>
		</div>
	    </div>
	</div>
    </div> <!-- row -->


    <div class="row">

	<!-- counseling sessions -->
	<div class="col-md-4 offset-md-1">
	    <div class="card border-primary mb-3">
		
		<div class="card-header">

		    <button class="btn btn-primary" data-toggle="modal" data-target="#counselingInstructions">
			Instructions
		    </button>
		    
		    <a href="{{url_for('add_counseling_session', id=patient.id )}}"
		       class="btn btn-primary" style="float:right;">Add Counseling</a>
		    
		    {{ patient_header(patient) }}
		    Counseling sessions
		    
		</div>

		<div class="card-body" id="result-list">

		    {% for session in cs %}

		    {{session.counseling_date}} -
		    
		    {% for couns, label in [(session.lifestyle_counseling_done, 'Lifestyle'),
		                            (session.diet_counseling_done, 'Diet'),
		                            (session.weight_counseling_done, 'Weight'),
		                            (session.medications_counseling_done, 'Medication')] %}

		    {% if couns %}

		    <span class="badge badge-success">

		     {% else %}
			
	     		<span class="badge badge-danger">

			    {% endif %}

			    {{ label }}
			    
			</span>
			
			{% endfor %}

			&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
			
			<!-- Compliance score -->
			{{ (scores[session.lifestyle_counseling_compliance][0],
			scores[session.diet_counseling_compliance][0],
			scores[session.weight_counseling_compliance][0],
			scores[session.medications_counseling_compliance][0]
			) | sum }}

			/

			{{ (scores[session.lifestyle_counseling_compliance][1],
			scores[session.diet_counseling_compliance][1],
			scores[session.weight_counseling_compliance][1],
			scores[session.medications_counseling_compliance][1]
			) | sum }}		    
			
			<br/>
			
			{% endfor %}
			
		</div>

	    </div>
	</div>
	
    </div> <!-- row -->


    <!-- Echo assessments -->
    <div class="row">
	<div class="col-md-9 offset-md-1">
	    <div class="card border-primary mb-3">

		<div class="card-header">
		    <button class="btn btn-primary" data-toggle="collapse" data-target="#echo_body">
			Show / Hide {{echo_assessments | length}} Echo Assessments
		    </button>
		    
		    {% if echo_assessments | length > 0 %}
		    <a href="{{url_for('delete_last_echo_assessment', id=patient.id )}}"
		       class="btn btn-primary">Delete last echo assessment</a>
		    {% endif %}
		    
		    <a href="{{url_for('add_echo_assessment', id=patient.id )}}"
		       class="btn btn-primary" style="float:right;">Add echo assessment</a>
		    
		</div>

		<div class="collapse" id="echo_body">
		    <div class="card-body">

			<table class="table table-default table-striped">
			    <thead>
				<tr>
				    <th>Date</th>
				    <th>IVSd (cm)</th>
				    <th>PWd (cm)</th>
				    <th>LVEDD (cm)</th>
				    <th>LVESD (cm)</th>
				    <th>LVEDV (ml)</th>
				    <th>LVESV (ml)</th>				    
				    <th>LVEF (%)</th>
				    <th>LV mass (g)</th>				    
				    <th>AR</th>
				    <th>MR</th>
				    <th>TR</th>				    
				</tr>
			    </thead>
			    <tbody>
				{% for ea in echo_assessments %}
				<tr>
				    <td>{{ea.echo_date}}</td>
				    <td>{{ea.ivsd}}</td>
				    <td>{{ea.pwd}}</td>
				    <td>{{ea.lvedd}}</td>
				    <td>{{ea.lvesd}}</td>
				    <td>{{ea.lvedv}}</td>
				    <td>{{ea.lvesv}}</td>
				    <td>{{ea.lvef}}</td>
				    <td>{{ea.lv_mass}}</td>
				    <td>{{ea.ar}}</td>
				    <td>{{ea.mr}}</td>
				    <td>{{ea.tr}}</td>
				</tr>
				{% endfor %}
			    </tbody>
			</table>
			
		    </div>
		</div>
	    </div>
	</div>
    </div> <!-- row -->



    
    <!-- Modal for counseling instructions -->
    <div class="modal fade" id="counselingInstructions" tabindex="-1">
	<div class="modal-dialog modal-lg">
	    <div class="modal-content">
		
		<div class="modal-header">
		    <h4 class="modal-title" id="myModalLabel">Instructions</h4>

		    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		</div>
		
		<div class="modal-body">
		    <h3>Lifestyle</h3>

		    <h4>Smoking</h4>
		    <ul>
			<li>Smoking damages blood vessels, reduces amount of oxygen in your blood</li>
			<li>Stop smoking</li>
			<li>Avoid second hand smoke</li>
		    </ul>

		    <h4>Alcohol</h4>
		    <ul>
			<li>Can further weaken heart muscle</li>
			<li>Can cause rhythm disturbances</li>
			<li>Can interfere with medicines</li>
			<li>Avoid alcohol intake</li>
		    </ul>

		    <h4>Physical activity</h4>
		    <ul>
			<li>Moderate physical activity keeps you healthy and conditioned</li>
			<li>Walk 30 min/day for 3-5 days / week</li>
			<li>Intensity - Should make you feel the exertion, but should not stretch you to the limit</li>
		    </ul>

		    <h4>Anxiety and stress</h4>
		    <ul>
			<li>When you are anxious and upset, your heart beats faster and works</li>
			<li>rder</li>
			<li>Find ways to reduce stress</li>
			<li>Spend time with friends and family</li>
		    </ul>

		    <h3>Diet</h3>

		    <h4>Diet in general</h4>
		    <ul>
			<li>Overall healthy diet with fruits, vegetables, whole grain</li>
			<li>Low fat dairy products - skimmed milk, buttermilk. Avoid butter, ghee</li>
			<li>Meat - skinless chicken and fish to be preferred</li>
			<li>Do not take any dietary supplements without consulting the doctor.</li>
		    </ul>

		    <h4>Salt restriction</h4>
		    <ul>
			<li>Salt produces water retention, making your heart work harder</li>
			<li>Produces swelling of feet</li>
			<li>No added salt after cooking</li>
			<li>Less salt while cooking</li>
			<li>Avoid salty foods - Pickle, chips</li>
		    </ul>

		    <h3>Weight</h3>
		    <ul>
			<li>If you are overweight, try to reduce weight</li>
			<li>Losing even small amounts can help you feel better</li>
			<li>Get a weighing scale and weigh yourself each day</li>
			<li>More than 1 kg increase in a day and 2.5 kg increase over a week are cause fo concern</li>
			<li>Decrease fluid and salt intake, increase dose of diuretics for acute weight gain</li>
		    </ul>

		    <h3>Medications</h3>
		    <ul>
			<li>Know the medicines you take. Understand what each medicine is for, the dosage you take and when you can increase the dose yourself</li>
			<li>Keep the list of medicines you take with you.</li>
			<li>Do not stop the medicines without consultation. If you think you experience side effects from any medicines, discuss it at your next visit. Buy / collect drugs before they get depleted so that you dont discontinue them</li>
			<li>Be careful about over the counter medicines. Paracetamol for fever is safe. Avoid NSAIDs like Brufen, Voveran and Naproxen. Show your list of medicines when you visit any other doctor or hospital.</li>
		    </ul>
		</div>

	    </div>
	</div>
    </div>
    
</div>

{% endblock %}


{% block extrascript %}

<script>
 var ctx = $("#vitals_graph_pw");

 var color = Chart.helpers.color;
 
 var data = {
     "labels": {{ca_dict['assessment_date_str'] | safe }},
     "datasets": [

	 {"label": "Pulse rate",
	  "data": [
	      {% for dt, pr in ca_dict['assessment_date_timestamp'] | zip(ca_dict['pulse_rate']) %}
	      {x: {{dt}}, y: {{pr}} },
	      {% endfor %}
	  ],
	  borderColor: 'rgba(243, 129, 129, 1)',
	  backgroundColor: 'rgba(0, 0, 0, 0)'
	 },

	 {"label": "Weight",
	  "data": [
	      {% for dt, wt in ca_dict['assessment_date_timestamp'] | zip(ca_dict['weight']) %}
	      {x: {{dt}}, y: {{wt}} },
	      {% endfor %}
	  ],
	  borderColor: 'rgba(34, 40, 49, 1)',
	  backgroundColor: 'rgba(0, 0, 0, 0)'
	 }	 


     ]
 };

 var chart = new Chart(ctx, {
     type: 'line',
     data: data
 }); 
 
</script>


<script>
 var ctx = $("#vitals_graph_bp");

 var color = Chart.helpers.color;
 
 var data = {
     "labels": {{ca_dict['assessment_date_str'] | safe }},
     "datasets": [

	 {"label": "Systolic BP",
	  "data": [
	      {% for dt, sbp in ca_dict['assessment_date_timestamp'] | zip(ca_dict['systolic_bp']) %}
	      {x: {{dt}}, y: {{sbp}} },
	      {% endfor %}
	  ],
	  borderColor: 'rgba(172, 63, 33, 1)',
	  backgroundColor: 'rgba(0, 0, 0, 0)'
	 },

	 {"label": "Diastolic BP",
	  "data": [
	      {% for dt, dbp in ca_dict['assessment_date_timestamp'] | zip(ca_dict['diastolic_bp']) %}
	      {x: {{dt}}, y: {{dbp}} },
	      {% endfor %}
	  ],
	  borderColor: 'rgba(190, 106, 21, 1)',
	  backgroundColor: 'rgba(0, 0, 0, 0)'
	 },

     ]
 };

 var chart = new Chart(ctx, {
     type: 'line',
     data: data
 }); 
 
</script>


{% endblock %}
