

<table class="table table-striped table-condensed">
    <thead>
	<tr>
	    <th>Name</th>
	    <th>Age / Sex</th>
	    <th>ID</th>
	    <th>Phone No</th>
	</tr>
    </thead>
    <tbody>

    {% for pt in patients %}
	
	<tr>
	    <td><a href="{{url_for('view_patient', id=pt.id)}}"> {{pt.name}}</a></td>
	    <td>{{pt.age()}} / {{pt.sex[0]}}</td>
	    <td>{{pt.patient_id}}</td>
	    <td>{{pt.contact_number}}</td>
	</tr>
    
	{% endfor %}
	
    </tbody>
</table>

